.p1 { 
    text-align: center;              /* aligning the text to center */
    background-color: rgb(255, 0, 0);
    color: yellow;
}

.p2 {
    text-align: center;
    background-color: hsl(120, 60%, 70%);
    color: rgb(48, 35, 35);
}

body {
    background-image: url('image.jpeg');
    background-repeat: repeat-x;
}
